<app-navbar>
  <div class="parent" *ngIf="user">
    <mat-card>
      <div class="tasks">
        <h2>Your Recent Tasks</h2>
        <div cdkDropListGroup>
          <div class="list-container">
            <h2>To do</h2>

            <div
              cdkDropList
              [cdkDropListData]="todo"
              class="list"
              (cdkDropListDropped)="drop($event)"
            >
              @for (item of todo; track item) {
              <div class="listbox" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>

          <div class="list-container">
            <h2>Done</h2>

            <div
              cdkDropList
              [cdkDropListData]="done"
              class="list"
              (cdkDropListDropped)="drop($event)"
         
            >
              @for (item of done; track item) {
              <div class="listbox" [cdkDragDisabled]="true" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="projects">
        <h2>Your Recent Projects</h2>
        <div class="project-cards">
          <mat-card>
            <p>Sahyogi Web App</p>
          </mat-card>
          <mat-card>
            <p>Sahyogi Mobile App</p>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</app-navbar>
