<div class="parent">
  <div class="logo"></div>
  <div class="search-spacer">
    <mat-form-field class="search" appearance="outline">
      <input matInput placeholder="Search Tasks or Projects" type="text">
      <button class="btn" matSuffix mat-icon-button aria-label="Search" (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="icon-row">
    <button class="create-btn" mat-flat-button><mat-icon>create</mat-icon>Create</button>
    <button class="btn" mat-icon-button matTooltip="AI Task Priortization"><mat-icon>assistant</mat-icon></button>
    <button class="btn" mat-icon-button matTooltip="Support"><mat-icon>help</mat-icon></button>
    <button class="btn" mat-icon-button matTooltip="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button class="btn" mat-icon-button matTooltip="Settings"><mat-icon>settings</mat-icon></button>
    <img matTooltip="{{userData.fullName}}'s Profile" class="user-img" [src]="imgURL" alt="{{userData.fullName}}'s Profile" />
  </div>
</div>
